<div ng-controller="appTabsController" style="padding: 5px 0">
    <tabset>
        <tab heading="Game">
            <input type="button" value="Start" ng-click="start()" />
            <!--<input type="button" value="Save" ng-click="save()" /> -->
            <input type="button" value="Stop" ng-click="clear()" />
        </tab>
        <tab heading="Employees">
            <input type="button" value="Hire" ng-click="hire()" />
            <input type="button" value="Fire" ng-click="fire()" /><br />
            <div style="clear:both; overflow-x: auto;">
                <div ng-repeat="employee in game.employees" style="text-align: center; padding: 5px; background-color: beige; height: 50px; width: 50px; margin-right: 5px; float:left;">
                    <div ng-show="selected!=employee.id" ng-click="$parent.$parent.$parent.selected=employee.id">
                        {{employee.id}} <br />
                        {{employee.currentAction.name}}
                    </div>
                    <div ng-show="selected==employee.id" ng-click="$parent.$parent.$parent.selected=-1" style="background-color: red;">
                        {{employee.id}} <br />
                        {{employee.currentAction.name}}
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="Build">
            {{currentClickType}}<br />
            <input type="button" value="Demolish" ng-click="setClickType('demolish')" />
            <input type="button" value="Cancel" ng-click="setClickType('select')" />
            <input type="button" value="{{c.name}}" ng-click="setClickType(c)" ng-repeat="c in placableFurniture"/>
        </tab>
    </tabset>
</div>